<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog</title>
    <link rel="stylesheet" href="../../static/styles/general.css" />
  </head>
  <body>
    <header>
      <h1>Imagine an amazing header here.</h1>
    </header>
    <main>
      <div class="heading">
        <h2>Simple Blog</h2>
        <p>
          Based on
          <a
            href="https://www.frontendmentor.io/challenges/product-feedback-app-wbvUYqjR6"
            >This</a
          >
          Frontend Mentor challenge.
        </p>
      </div>
      <ul id="posts">
        <li>
          <h3>Some random title</h3>
          <p>Random content</p>
        </li>

        <li>
          <h3>Some random title</h3>
          <p>Random content</p>
        </li>

        <li>
          <h3>Some random title</h3>
          <p>Random content</p>
        </li>
      </ul>
    </main>
    <footer>
      <small>Made with a keyboard.</small>
    </footer>
  </body>
</html>
