form {
  background-color: #fff;

  display: flex;
  flex-direction: column;
  align-items: start;

  width: 40%;
  margin: 0 auto;
  padding: 1.2rem;

  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(55, 63, 106, 0.4);
}

.input-group:not(:last-child) {
  width: 100%;
  margin-bottom: 1rem;
}

label {
  display: block;
  margin-bottom: 0.2rem;
}

input {
  background-color: #dbe0f6;
  border: none;
  border-radius: 10px;
}

input,
textarea {
  width: 100%;
  resize: none;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.3rem 0.4rem 0.3rem 0.4rem;
}

textarea {
  height: 10rem;
}

input:focus,
textarea:focus {
  outline-color: #373f6a;
}
