.wrapper main {
  display: flex;
}

.wrapper main .heading {
  background: linear-gradient(
      217deg,
      rgba(243, 10, 215, 0.8),
      rgba(149, 0, 255, 0) 70.71%
    ),
    linear-gradient(
      127deg,
      rgba(0, 94, 255, 0.8),
      rgba(128, 0, 255, 0.167) 70.71%
    ),
    linear-gradient(
      336deg,
      rgba(255, 255, 0, 0.8),
      rgba(151, 11, 238, 0) 70.71%
    );
  color: #fff;

  padding: 4rem 0 0 1rem;
  border-radius: 5px;
  width: 30%;
  height: 9.75rem;
}

.wrapper main .heading a:hover {
  text-decoration: underline;
  text-decoration-style: wavy;
}

.wrapper section:last-child {
  margin-left: 2rem;
}

#posts {
  width: 100%;
}

#posts .new-post {
  background-color: #373f6a;
  color: #fff;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem;
  border-radius: 5px;
}

#posts .new-post span {
  font-size: 1.2rem;
  font-weight: 700;
}

#posts ul {
  list-style-type: none;
}

#posts ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  margin-block: 1rem;
  padding: 1rem;
}
